*

.pth

!.gitignore
!loop_segment_MNI_desktop.m
!segment_MNI_desktop.m

!MNI_way/
!MNI_way/*.m

!nnunet/

!nnunet/nnUNet_raw/
nnunet/nnUNet_raw/**
!nnunet/nnUNet_raw/.gitkeep

!nnunet/nnUNet_preprocessed/
nnunet/nnUNet_preprocessed/**
!nnunet/nnUNet_preprocessed/.gitkeep

!nnunet/nnUNet_results/
nnunet/nnUNet_results/**
!nnunet/nnUNet_results/.gitkeep
